/* root */
:root {
  --main-color: #01305d;
  --seconde-color: #50b065;
}

/* Global Commands */
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.special-label {
  display: none !important;
}

* {
  font-family: "Tajawal", sans-serif;
}
input {
  width: 100%;
}
.form-control {
  background-color: inherit;
  border: none;
  color: white;
}
.form-control:focus {
  background-color: inherit;
  border: none;
  color: white;
  box-shadow: none;
}
.react-tel-input {
  direction: ltr;
}
/* Start Navbar */

.nav-item .active {
  color: var(--main-color) !important;
  position: relative;
}
.nav-item .active::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    var(--main-color) 0%,
    rgba(80, 176, 101, 0.15) 100%
  );
  filter: drop-shadow(10px 14px 30px rgba(30, 199, 86, 0.15));
  width: 8px;
  height: 8px;
  border-radius: 50%;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item a {
  transition: 0.3s;
}
@media (max-width: 992px) {
  .active::before {
    top: 45%;
    right: 30%;
    transform: translateY(-50%);
  }
  .question-nav.active::before {
    right: 20%;
  }
  .navbar ul {
    padding-right: 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .active::before {
    top: 45%;
    right: 40%;
    transform: translateY(-50%);
  }
  .question-nav.active::before {
    right: 35%;
  }
}

/* End Navbar */

/* Start Footer */

.footer-parent {
  background: rgba(1, 48, 93, 0.08);
  padding: 4rem;
  position: relative;
  padding-top: 3rem;
}
.footer-parent::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 50px;
  top: 40px;
  background: linear-gradient(
    26.74deg,
    #50b065 16.62%,
    rgba(80, 176, 101, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-parent::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 100px;
  bottom: 40px;
  background: linear-gradient(
    26.74deg,
    #50b065 16.62%,
    rgba(80, 176, 101, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo-footer {
  position: relative;
}
.logo-footer::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 36%;
  bottom: 0;
  background: linear-gradient(
    26.74deg,
    #01305d 16.62%,
    rgba(1, 48, 93, 0.01) 100%
  );
}
.footer p {
  font-weight: 500;
  position: relative;
}
.footer p::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 25vw;
  bottom: -2vh;
  background: linear-gradient(
    26.74deg,
    #01305d 16.62%,
    rgba(1, 48, 93, 0.01) 100%
  );
}
.footer i {
  margin-left: 15px;
  color: #ababac;
}
.footer i:hover {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .footer p::after,
  .footer-parent::after {
    right: 0;
  }
  .footer-parent::before {
    left: 0;
  }
  .logo-footer::before {
    left: -15px;
  }
  .footer-parent {
    padding-bottom: 100px;
  }
  .end-footer {
    margin-bottom: 1rem;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer p::after {
    right: 20vh;
  }
  .footer-parent::after {
    right: 0;
  }
  .footer-parent::before {
    left: 0;
  }
  .logo-footer::before {
    left: 20vw;
  }
  .footer-parent {
    padding-bottom: 100px;
  }
}
.end-footer a {
  text-decoration: none;
  color: #1b1b1f;
}
/* End Footer */

/* Home */

/* Start Landing */

.box {
  margin-right: 8%;
  width: 80%;
  overflow: hidden;
}

.inner-custom div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3s;
  position: relative;
}
.inner-custom .img-b {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  transition: 1s;
  bottom: -100%;
  z-index: 3;
}
.inner-custom .parent-bubbles:hover {
  background-color: #d9d9d9 !important;
}
.inner-custom div .img-b {
  animation: bubble 8s infinite;
}
.inner-custom div .img-b2 {
  animation: bubble 8s infinite 2s;
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  transition: 1s;
  bottom: -100%;
  z-index: 3;
}
.inner-custom div .img-b3 {
  animation: bubble 8s infinite 4s;
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  transition: 1s;
  bottom: -100%;
  z-index: 3;
}
.inner-custom div .img-b4 {
  animation: bubble 8s infinite 6s;
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  transition: 1s;
  bottom: -100%;
  z-index: 3;
}
.inner-custom div .img-b5 {
  animation: bubble 8s infinite 3s;
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  transition: 1s;
  bottom: -100%;
  z-index: 3;
}
.bubbles {
  transition: 1s;
}
.inner-custom-2 {
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  padding: 20px 0;
}
.inner-p {
  width: 70%;
  font-weight: 400 !important;
  text-align: center;
}
@media (max-width: 668px) {
  .inner-p {
    text-align: right !important;
    width: 50%;
  }
}

.inner-custom-2 div p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.inner-custom-2 div img {
  width: 20px;
}
.box img {
  width: 60px;
}
.box p {
  font-weight: bold;
  margin-top: 10px;
}
.carousel-indicators .bubble-sliders button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.033);
  border: 1px solid #1b1b1f;
  margin: 0 3px !important  ;
}
.carousel-indicators .bubble-sliders button.active {
  background-color: #1b1b1f;
  border: 1px solid white;
  outline: 1px solid black;
}
.carousel-indicators {
  margin: 0 !important;
  background-color: rgb(242, 242, 242, 0.2);
}
.carousel-control-next,
.carousel-control-prev {
  background-color: inherit !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgb(27, 27, 31, 0.5);
  height: 25px;
  transform: rotate(180deg);
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: black;
}
.carousel-indicators [data-bs-target] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 992px) {
  .custom .container {
    width: 30% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .carousel.slide {
    position: relative;
  }
  .carousel-indicators {
    transform: rotate(270deg);
    width: 215px;
    height: 24px;
    position: absolute;
    top: 50%;
  }
  .box {
    padding: 0 !important;
    box-shadow: 10px 12px 40px rgba(27, 27, 31, 0.08);
    position: absolute;
    bottom: -140px;
  }
  .parent-home-land {
    margin-bottom: 25vh;
  }
  .inner-custom {
    width: 70%;
    gap: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .inner-custom div {
    height: 206px;
  }
  .inner-custom .parent-bubbles {
    width: 20% !important;
  }
}
@media (max-width: 992px) {
  .parent-bubbles {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .inner-custom {
    width: 100%;
  }
  .inner-custom div {
    padding: 0 5px;
  }
  .custom {
    flex-direction: column;
  }
  .box {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
  }
  .inner-custom-2 {
    width: 100%;
    flex-direction: row;
  }

  .inner-custom-2 div p {
    font-size: 12px;
  }
}
/* End Landing */

/* Home */

/* About Us */
@media (max-width: 768px) {
  .about-us {
    margin-top: 3rem;
  }
}
.custom-h1 {
  color: #1b1b1f;
  position: relative;

  font-weight: 700;
  width: fit-content;
}
.custom-h1::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  background: url("./Assest/About/quotation-mark\ 3.png");
  transform: rotate(-180deg);
}
.custom-h1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -16px;
  background: url("./Assest/About/quotation-mark\ 3.png");
}
@media (max-width: 768px) {
  .custom-h1::after,
  .custom-h1::before {
    top: -17px;
  }
}
.custom-p {
  background-color: #1b1b1f;
  width: 70px;
  height: 1px;
}
.custom-p-desc {
  font-weight: 500;
}

@media (max-width: 768px) {
  .custom-about {
    flex-direction: column;
  }
  .custom-about-service:nth-child(2) {
    padding-top: 10px;
  }
}
.custom-about-service {
  position: relative;
}
.custom-about-service h4 {
  font-weight: 600;
}
.custom-about-service p {
  font-weight: 500;
}
@media (max-width: 768px) {
  .custom-about-section {
    flex-direction: column-reverse;
  }
  .custom-about-service-2 {
    flex-direction: column;
  }
  .custom-about-service h4 {
    padding-top: 10px;
  }
}

.custom-card {
  position: relative;
  text-align: center;
  height: 282px;
  width: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rec-carousel-item {
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
}
.custom-card img {
  width: 90px;
  margin-bottom: 20%;
}
.custom-card div {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 130px;
  height: 380px;
  background: #01305d;
  border-radius: 50%;
}
.custom-card div {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 130px;
  height: 401px;
  background: #01305d;
  border-radius: 50%;
}
.custom-card div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.custom-card div p {
  color: white;
  margin-top: 10%;
  width: 80%;
  font-weight: 300;
}

.carousel-f {
  position: relative;
  height: 375px;
}
.carousel-f .rec-arrow-left {
  position: absolute;
  bottom: 10px;
  right: 7%;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
.carousel-f .rec-arrow-right {
  position: absolute;
  bottom: 10px;
  right: 0;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
.rec-arrow-left:hover,
.rec-arrow-right:hover {
  background-color: #1b1b1f !important;
}
.rec-pagination {
  display: none !important;
}
@media (max-width: 768px) {
  .carousel-f .rec-arrow-left {
    right: 15%;
  }
}

/* Questions */
.collapes button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  gap: 30px;
  margin-top: 2rem;
  background: #f6f6f6;
  box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.08),
    inset 1px 1px 40px rgb(0 0 0 / 8%);
  height: 131px;
}
.accordion-body {
  background: #f6f6f6;
  box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.08),
    inset 1px 1px 40px rgb(0 0 0 / 8%);
  padding: 10px 0;
}
.accordion-body p {
  width: 60%;
  font-weight: bold;
  transform: translate(-120px, 2px);
}
/* News */
.news-p1 {
  width: 600px;
  font-weight: 500;
  font-size: 18px;
  margin: 15px auto;
}
.news-p2 {
  width: 800px;
  font-weight: 500;
  font-size: 18px;
  margin: 30px auto;
}
.box-slider-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-slider-news h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}
.box-slider-news p {
  text-align: right;
  text-align: justify;
}
.box-news-qetaf,
.box-news-tamayoz,
.box-news-apple {
  background-color: #fff;
  padding: 20px;
  box-shadow: 10px 14px 40px rgba(0, 0, 0, 0.08);
  width: 30%;
}
@media (max-width: 767px) {
  .news-p1,
  .news-p2,
  .news-box-2 {
    width: 100% !important;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  .box-news-qetaf,
  .box-news-tamayoz,
  .box-news-apple {
    width: 100%;
  }
  .box-slider-news {
    gap: 30px;
  }
  .news-parent-box-2 {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
/* News */

/* Map */

.our-services {
  padding: 3rem 0 0 0;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
}
@media (max-width: 768px) {
  .map {
    flex-direction: column;
    justify-content: center !important;
    height: 40vh;
    margin: 0 !important;
  }
  .map h3 {
    width: 100% !important;
    text-align: right;
  }
}
@media (max-width: 1266px) {
  .fount-parent {
    background-size: cover !important;
  }
}
.fount-parent {
  position: relative;
  background-image: url("./Assest/Home/Saudia\ Arabia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-center2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-center {
  border: 5px dotted blue;
  border-radius: 50%;
  border-right: none;
  border-top: none;
  border-left: none;
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
}
.rotate-center2 {
  border: 5px dotted blue;
  border-radius: 50%;
  border-right: none;
  border-top: none;
  border-left: none;
  -webkit-animation: rotate-center 3s linear infinite reverse;
  animation: rotate-center 3s linear infinite reverse;
}
.water1 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
}
.water2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
}
.water3 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 10px;
  left: 10px;
}
.water4 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 20px;
}
.water5 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 10px;
  left: 10px;
}
.water6 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 0;
}
.fountain-right {
  position: absolute;
  left: 100px;
}
.fountain-left {
  position: absolute;
  left: 10px;
}
.fountain-animation {
  position: absolute;
}
.fountain-animation:after {
  content: "";
  display: block;
  width: 220px;
  height: 60px;
  /*   border: 2px solid red; */
  position: absolute;
  top: 55px;
  background-color: #50b066;
  left: 0;
}
.small {
  top: 50px;
  left: 0px;
}
.big {
  top: 20px;
  left: 0px;
  transform: scaleY(1.6);
}

#second-fountain {
  position: absolute;
  top: 156px;
  left: 187px;
}
#show-fountain {
  display: none;
}
.block-base {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: inherit;
  z-index: 4;
  bottom: 0;
  left: 50%;
}
/* Recruitment */

.parent-recruitment {
  margin-top: 200px;
  height: 110vh;
}
.img-recruit img {
  width: 65%;
}
.parent-recruit {
  background: rgba(1, 48, 93, 0.1);
  backdrop-filter: blur(10px);
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
}
.img-recruit {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -25vh;
}
.text-recruit {
  width: 50%;
}
@media (min-width: 992px) {
  .inner-custom {
    height: 251px;
  }
  .inner-custom .parent-bubbles {
    height: 100%;
  }
  .custom .container {
    height: 251px;
  }
}
@media (max-width: 992px) {
  .text-recruit {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .img-recruit {
    top: -130px;
  }
  .img-recruit img {
    width: auto;
    max-width: 100%;
  }
  .parent-recruit {
    margin-bottom: 50px;
  }
}
@media (max-width: 399px) {
  .img-recruit {
    top: -50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 1024px) {
  .img-recruit {
    top: -40vh;
  }
}

.contact-img {
  max-width: 75%;
}
@media (max-width: 668px) {
  .contact-img {
    max-width: 100%;
  }
}

@keyframes bubble {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-600%);
  }
}

/* Green Check */

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}

.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}

.check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}

.check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}

.check-icon::before,
.check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}

.icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

.icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}

.icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

.clicked-button {
  visibility: hidden;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
